{{- $light := .Page.Resources.GetMatch "ansi-parser-light.svg" -}}
{{- $dark := .Page.Resources.GetMatch "ansi-parser-dark.svg" -}}
<div class="ansi-parser-viewport" tabindex="0" role="region" aria-label="Scrollable ANSI parser state diagram">
  <picture>
    <source media="(prefers-color-scheme: dark)" srcset="{{ $dark.RelPermalink }}">
    <img
      class="ansi-parser-diagram"
      src="{{ $light.RelPermalink }}"
      alt="UTF-8-aware ANSI parser state-machine diagram"
      loading="lazy"
      decoding="async">
  </picture>
</div>
